In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Reading Weather Dataset
weather = pd.read_csv("seattle-weather.csv")

In [3]:
weather.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

# Data Analysis


Things you can try:

Check the data dimensions: Find out how many samples and features are in the dataset.

Check the target distribution: Check how many samples are there in each class to see if the dataset is balanced or imbalanced.

Check for missing values: Find out if there are any missing values in the dataset, and decide how to handle them.

Check for outliers: Look for any data points that are significantly different from the others, and decide how to handle them.

Visualize the data: Use various visualization techniques to better understand the data, such as histograms, boxplots, scatterplots, and heatmaps.

Check the correlation between features: Find out if there are any strong correlations between the features, and decide how to handle them.

Feature engineering: If needed, create new features based on the existing ones, to improve the performance of the model.

Split the data: Divide the data into training, validation, and testing sets.

Normalize/Standardize the data: If required, scale the data to have a mean of zero and a standard deviation of one.

Evaluate baselines: Determine the accuracy of simple models to establish a baseline performance for the dataset.

Explore feature importance: Use methods like feature importance or permutation importance to understand the importance of each feature in the model.

Determine model requirements: Understand the requirements of the model, such as the number of samples needed, the number of features, and the complexity of the model.

In [5]:
#Null Values
weather.isna().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [7]:
#Total (rows,columns) of data
weather.shape

(1461, 6)

In [8]:
# Datatypes of variables/columns of dataset
weather.dtypes

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [11]:
# stats of dataset
weather.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [12]:
# info about dataset
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [13]:
# dimension of dataset
weather.ndim

2

In [14]:
# size of dataset
weather.size

8766

In [15]:
# We have to predict the weather. checking unique values of target
weather.weather.unique()

array(['drizzle', 'rain', 'sun', 'snow', 'fog'], dtype=object)

In [27]:
#number of unique elements
weather.weather.nunique()

5

In [28]:
# checking if dataset (target) is balanced : frequency of all unique elements of target
weather.weather.value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [31]:
# Checking for outliers
plt.boxplot?